<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>Classement</title>
</head>
<body class="bg-[#252E39]">
    <header class="text-white">
<!-- NAVBAR -->
        <div class="absolute w-full bg-[#028ACC] h-24">
            <div class="container bg-[#028ACC] w-[100%] mx-auto flex items-center h-24">
                <!-- <a href="" class="flex items-center justify-center">
                    <img class="h-16" src="https://i.ibb.co/6Yxs70d/2021-10-26-23h27-03.png" alt="" />
                    <span class="ml-4 uppercase font-black">ouioui<br />lesite</span>
                </a> -->

                <nav class="contents font-semibold text-base lg:text-lg">
                    <ul class="mx-auto flex items-center">
                        <li class="p-5 xl:p-8 active">
                            <a href="/wiki">
                                <span>LE WIKI</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/server">
                                <span>LE SERVEUR</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/faction">
                                <span>FACTION</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/shop">
                                <span>LA BOUTIQUE</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/forum">
                                <span>LE FORUM</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/hdv">
                                <span>HDV</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <button>
                    <img src="/static/medias/head-mc.png" />
                </button>
            </div>
        </div>
<!-- LOGO SITE -->
        <div class="items-center">
            <a href="/index" target="_blank" rel="noopener noreferrer"><img class="relative top-10 h-56 left-24" src="/static/medias/logo-5ans.png" alt="logo_5_ans"></a>

        </div>
        </head> 
</body>
</html>