<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/output.css">
    <title>La Boutique</title>
</head>
<body class="bg-[#252E39]">
    <header class="text-white">
<!-- NAVBAR -->
        <div class="absolute w-full bg-[#028ACC] h-24">
            <div class="container bg-[#028ACC] w-[100%] mx-auto flex items-center h-24">
                <!-- <a href="" class="flex items-center justify-center">
                    <img class="h-16" src="https://i.ibb.co/6Yxs70d/2021-10-26-23h27-03.png" alt="" />
                    <span class="ml-4 uppercase font-black">ouioui<br />lesite</span>
                </a> -->

                <nav class="contents font-semibold text-base lg:text-lg">
                    <ul class="mx-auto flex items-center">
                        <li class="p-5 xl:p-8 active">
                            <a href="/wiki">
                                <span>LE WIKI</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/server">
                                <span>LE SERVEUR</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/faction">
                                <span>FACTION</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/shop">
                                <span>LA BOUTIQUE</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/forum">
                                <span>LE FORUM</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/hdv">
                                <span>HDV</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <button>
                    <img src="/static/medias/head-mc.png" />
                </button>
            </div>
        </div>
<!-- LOGO SITE -->
        <div class="items-center">
            <a href="/index" target="_blank" rel="noopener noreferrer"><img class="relative top-10 z-50 h-56 left-24" src="/static/medias/logo-5ans.png" alt="logo_5_ans"></a>

        </div>
        </head>

        <body>
        <!-- Image -->
            <div class="h-[440px] w-full relative">
                <img src="/static/medias/mage-boutique.png" class="w-full h-full object-cover" />
            </div>
        <!-- grid boutons -->
            <div class="h-16 mt-10 mx-auto w-[997px] rounded-2xl bg-slate-500">
                <div class="grid mx-auto pt-3 w-full place-items-center grid-cols-6">
                    <button class="bg-[#449D44] rounded-full h-10 font-bold px-8 py-2">Grades</button>
                    <button class="bg-[#449D44] rounded-full h-10 font-bold px-8 py-2">Familiers</button>
                    <button class="bg-[#449D44] rounded-full h-10 font-bold px-8 py-2">Emotes</button>
                    <button class="bg-[#449D44] rounded-full h-10 font-bold px-8 py-2">Effets</button>
                    <button class="bg-[#449D44] rounded-full h-10 font-bold px-8 py-2">Dragodindes</button>

                    <button class="bg-[#028ACC] rounded-full h-10 font-bold px-8 py-2">aller à l'HDV</button>
                </div>
            </div>

            <div class="container mx-auto pt-9"> 
                <div class="grid mx-auto pt-3 place-content-start gap-y-7 w-full grid-cols-4">
                    <div class="bg-slate-500 rounded-3xl h-72 w-72 flex justify-center items-center">
                        <img src="/static/medias/Bouftouroyale.png" />
                    </div>
                    <div class="bg-slate-500 rounded-3xl h-72 w-72 flex justify-center items-center">
                        <img src="/static/medias/deessecra.png" style="width: 75%;" />
                    </div>
                    <div class="bg-slate-500 rounded-3xl h-72 w-72 flex justify-center items-center">
                        <img src="/static/medias/deessefeca.png" style="width: 75%;" />
                    </div>
                    <div class="bg-slate-500 rounded-3xl h-72 w-72 flex justify-center items-center">
                        <img src="/static/medias/dieuiop.png" style="width: 75%;" />
                    </div>
                    <div class="bg-slate-500 rounded-3xl h-72 w-72 flex justify-center items-center">
                        <img src="/static/medias/dieuxelor.png" style="width: 75%;" />
                    </div>
                </div>
            </div>


            <div></div>
        </body>





</body>
</html>