<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/output.css">
    <title>Le Wiki</title>
</head>

<body class="bg-[#252E39]">
    <header class="text-white">
        <!-- NAVBAR -->
        <div class="absolute w-full bg-[#028ACC] h-24">
            <div class="container bg-[#028ACC] w-[100%] mx-auto flex items-center h-24">
                <!-- <a href="" class="flex items-center justify-center">
                    <img class="h-16" src="https://i.ibb.co/6Yxs70d/2021-10-26-23h27-03.png" alt="" />
                    <span class="ml-4 uppercase font-black">ouioui<br />lesite</span>
                </a> -->

                <nav class="contents font-semibold text-base lg:text-lg">
                    <ul class="mx-auto flex items-center">
                        <li class="p-5 xl:p-8 active">
                            <a href="/wiki">
                                <span>LE WIKI</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/server">
                                <span>LE SERVEUR</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/faction">
                                <span>FACTION</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/shop">
                                <span>LA BOUTIQUE</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/forum">
                                <spa>LE FORUM</span>
                            </a>
                        </li>
                        <li class="p-5 xl:p-8">
                            <a href="/hdv">
                                <span>HDV</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <button>
                    <img src="/static/medias/head-mc.png" />
                </button>
            </div>
        </div>
        <!-- LOGO SITE -->
        <div class="items-center">
            <a href="/index" target="_blank" rel="noopener noreferrer"><img
                    class="relative z-50 top-10 h-56 left-24" src="/static/medias/logo-5ans.png" alt="logo_5_ans"></a>

            <!-- Image -->
            <div class="h-[440px] w-full relative">
                <img src="/static/medias/image-forum.png" class="w-full h-full object-cover" />
            </div>

            <div class="container z-50 relative bottom-20 place-items-start">
                <div class="h-[610px] justify-start ml-36 w-[450px] rounded-3xl bg-[#1E1E1E] opacity-80">
                    <div class="grid gap-y-3 pt-5 grid-cols-1 text-center mx-auto place-items-center">
                        <h1 class="mx-auto text-center relative font-extrabold text-lg"> LES GRANDS CHAPITRES </h1>
                        <a href=""
                            class="w-[390px] h-[60px] relative bg-gradient-to-r from-[#449D44] to-[#028ACC] focus:border-2 focus:border-[#028ACC] mx-auto opacity-100 font-bold pt-4 text-lg rounded-2xl top-10">
                            HISTOIRE</a>
                        <a href=""
                            class="w-[390px] h-[60px] relative bg-gradient-to-r from-[#449D44] to-[#028ACC] focus:border-2 focus:border-[#028ACC] mx-auto opacity-100 font-bold pt-4 text-lg rounded-2xl top-10">
                            PVP FACTION</a>
                        <a href=""
                            class="w-[390px] h-[60px] relative bg-gradient-to-r from-[#449D44] to-[#028ACC] focus:border-2 focus:border-[#028ACC] mx-auto opacity-100 font-bold pt-4 text-lg rounded-2xl top-10">
                            CRAFTS CUSTOM</a>
                        <a href=""
                            class="w-[390px] h-[60px] relative bg-gradient-to-r from-[#449D44] to-[#028ACC] focus:border-2 focus:border-[#028ACC] mx-auto opacity-100 font-bold pt-4 text-lg rounded-2xl top-10">
                            ECONOMIE</a>
                        <a href=""
                            class="w-[390px] h-[60px] relative bg-gradient-to-r from-[#449D44] to-[#028ACC] focus:border-2 focus:border-[#028ACC] mx-auto opacity-100 font-bold pt-4 text-lg rounded-2xl top-10">
                            EVENEMENTS</a>
                        <a href=""
                            class="w-[390px] h-[60px] relative bg-gradient-to-r from-[#449D44] to-[#028ACC] focus:border-2 focus:border-[#028ACC] mx-auto opacity-100 font-bold pt-4 text-lg rounded-2xl top-10">
                            QUETES</a>
                        <a href=""
                            class="w-[390px] h-[60px] relative bg-gradient-to-r from-[#449D44] to-[#028ACC] focus:border-2 focus:border-[#028ACC] mx-auto opacity-100 font-bold pt-4 text-lg rounded-2xl top-10">
                            DIVERS</a>
                    </div>
                </div>
            </div>

            <div class="h-[480px] z-0 relative bottom-[550px] mx-auto rounded-2xl bg-[#353E4A] w-[1730px]">

                            <!-- GRID CARTES -->
            <div class="relative top-[700px] pl-40 mx-auto items-center grid-rows-2">
                <div class="grid pt-3 place-content-start gap-y-7 w-full grid-cols-3 ">
                    <div class="bg-slate-500 rounded-3xl opacity-60 h-[300px] w-[270px]">
                        <img src="/static/medias/pvp.png" class="w-full h-full object-cover" />
                    </div>
                    <div class="bg-slate-500 rounded-3xl opacity-60 h-72 w-72">
                        <img src="/static/medias/jeux.png" class="w-full h-full object-cover" />
                    </div>
                    <div class="bg-slate-500 rounded-3xl opacity-60 h-72 w-72">
                        <img src="/static/medias/nether.png" class="w-full h-full object-cover" />
                    </div>
                    <div class="bg-slate-500 rounded-3xl opacity-60 h-72 w-72">
                        <img src="/static/medias/shop.png" class="w-full h-full object-cover" />
                    </div>
                    <div class="bg-slate-500 rounded-3xl opacity-60 h-72 w-72">
                        <img src="/static/medias/rank.png" class="w-full h-full object-cover" />
                    </div>
                    <div class="bg-slate-500 rounded-3xl opacity-60 h-72 w-72">
                        <img src="/static/medias/event.png" class="w-full h-full object-cover" />
                    </div>
                </div>
            </div>
        </div>

            </div>


        </head>
</body>
<script src="../javascript/login.js"></script>

</html>